<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="PERK CL, INTUITIVE" />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>Perk CL app</title>
    <link rel="stylesheet" href="./styles/nicepage.css" media="screen" />
    <link rel="stylesheet" href="./styles/Casa.css" media="screen" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    />
    <meta name="theme-color" content="#478ac9" />
    <meta property="og:title" content="Casa" />
    <meta property="og:type" content="website" />
  </head>
  <body class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-d66b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a
          href="https://perk.cl"
          class="u-image u-logo u-image-1"
          data-image-width="140"
          data-image-height="150"
        >
        </a>
      </div>
    </header>
    <section class="u-clearfix u-white u-section-1" id="carousel_d163">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="
                  u-align-left
                  u-container-style
                  u-image
                  u-layout-cell
                  u-right-cell
                  u-size-31
                  u-image-1
                "
                data-image-width="972"
                data-image-height="1080"
              >
                <div class="u-container-layout u-container-layout-1">
                  <h2
                    class="
                      u-custom-font
                      u-font-montserrat
                      u-text
                      u-text-body-alt-color
                      u-text-1
                    "
                  >
                    PERK CL
                  </h2>
                  <p class="u-align-left u-text u-text-body-alt-color u-text-2">
                    Conectamos seguros para que puedas aumentar tu
                    rentabilidad<br />
                    <br />Con nuestra API podrás integrarte para asegurar a tus
                    usuarios, con los mejores precios y coberturas.<br />
                  </p>
                  <button
                    id="app"
                    class="
                      u-border-2
                      u-border-active-palette-4-base
                      u-border-hover-palette-4-base
                      u-border-palette-4-base
                      u-btn
                      u-btn-round
                      u-button-style
                      u-palette-4-base
                      u-radius-50
                      u-text-active-palette-1-dark-2
                      u-text-body-alt-color
                      u-text-hover-palette-1-dark-2
                      u-btn-1
                    "
                  >
                    INSTALAR APLICACIÓN
                  </button>
                </div>
              </div>
              <div
                class="
                  u-align-center
                  u-container-style
                  u-layout-cell
                  u-left-cell
                  u-palette-1-light-3
                  u-size-29
                  u-layout-cell-2
                "
              >
                <div
                  class="
                    u-container-layout u-valign-middle-sm u-container-layout-2
                  "
                >
                  <img
                    class="
                      u-absolute-hcenter
                      u-expanded-height
                      u-image
                      u-image-contain
                      u-image-2
                    "
                    src="./styles/images/-min.png"
                    data-image-width="800"
                    data-image-height="800"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="./styles/vendor/jquery/jquery.min.js"></script>
    <script src="./views_js/index.js"></script>
  </body>
</html>
